@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#home-container {
  height: 100vh;
  width: 100%;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../media/Images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#home-container .overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), white);
  height: 100vh;
  width: 100%;
  padding: 4rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-container .overlay .left .hero-text {
  margin-bottom: 6rem;
}

#home-container .overlay .left .hero-text h1 {
  font-size: 2.7rem;
  line-height: 3.5rem;
  letter-spacing: 1.8px;
  font-family: "Jakarta-bold", sans-serif;
  color: var(--secondary-color);
}

#home-container .overlay .left .hero-text p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
  font-family: "Jakarta-medium", sans-serif;
  color: var(--tertiary-color);
  margin: 1.5rem 0 3rem 0;
}

#home-container .overlay .left .hero-text .btn-container .cta {
  background-color: #0074e8;
  padding: 0.8rem 3.8rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  font-family: "Jakarta-bold";
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s;
}

#home-container .overlay .left .hero-text .btn-container .cta:hover {
  background-color: #0068d1;
}

#home-container .overlay .left .hero-text .btn-container .btn-secondary {
  color: #0074e8;
  padding: 0.8rem 3.8rem;
  border-radius: 10px;
  border: none;
  border: 1.5px solid #0074e8;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Jakarta-bold";
  margin-left: 1rem;
  background: white;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}

#home-container .overlay .left .hero-text .btn-container .btn-secondary:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#home-container .overlay .left .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #2f8ff0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

#home-container .overlay .left .more:hover {
  color: #0068d1;
}

#home-container .overlay .left .more p {
  font-size: 1.1rem;
  font-family: "Jakarta-bold", sans-serif;
  margin-left: 1rem;
}

#home-container .overlay .left .more img {
  height: 25px;
  width: 25px;
}

#home-container .overlay .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  height: 500px;
  width: 550px;
  border-radius: 1rem;
}

#home-container .overlay .right:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#home-container .overlay .right .top {
  height: 90%;
}

#home-container .overlay .right .top img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 100%;
  width: 100%;
}

#home-container .overlay .right .bottom {
  background-color: var(--primary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.4rem 1rem;
  height: 10%;
}

#home-container .overlay .right .bottom .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#home-container .overlay .right .bottom .description img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 1rem;
}

#home-container .overlay .right .bottom .description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home-container .overlay .right .bottom .description div .upper-text {
  color: var(--secondary-color);
  font-family: "Jakarta-semibold";
}

#home-container .overlay .right .bottom .description div .lower-text {
  color: #2f8ff0;
  font-family: "Jakarta-semibold";
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#home-container .overlay .right .bottom .description div .lower-text:hover {
  color: #0074e8;
}

#home-container .overlay .right .bottom .icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#notable-drops {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-color);
}

#notable-drops h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-family: "Jakarta-bold";
}

#notable-drops .container {
  width: 82.5%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--tertiary-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  font-size: 0.9rem;
  cursor: pointer;
}

nav .logo img {
  margin-right: 10px;
  width: 100%;
}

nav .logo a {
  text-decoration: none;
  font-family: "Jakarta-extrabold", sans-serif;
  color: var(--secondary-color);
}

nav .search {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .search img {
  position: absolute;
  z-index: 1;
  cursor: text;
  margin-left: 16px;
  height: 15px;
  width: 15px;
}

nav .search input {
  font-size: 0.95rem;
  margin-right: 20px;
  outline: none;
  width: 500px;
  border: 0.01px solid rgba(51, 48, 48, 0.171);
  background: transparent;
  border-radius: 10px;
  padding: 15px 40px;
  position: relative;
  color: var(--tertiary-color);
  font-family: "Jakarta-bold";
}

nav .nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-links ul a {
  text-decoration: none;
  color: var(--tertiary-color);
  margin-right: 40px;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-family: "Jakarta-bold";
}

nav .nav-links ul a:hover {
  color: var(--secondary-color);
}

nav .nav-icons {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-icons img:last-of-type {
  margin-left: 40px;
}

nav .nav-icons img {
  cursor: pointer;
  fill: var(--tertiary-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .nav-icons img:hover {
  fill: var(--secondary-color);
}

#collection-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-color);
  padding: 4rem 8rem;
}

#collection-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#collection-container .title h2 {
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: "Jakarta-bold";
}

#collection-container .title .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6px;
  cursor: pointer;
  position: relative;
}

#collection-container .title .duration p {
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: "Jakarta-bold";
  color: #2f8ff0;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#collection-container .title .duration p:hover {
  color: #0074e8;
}

#collection-container .title .duration img {
  margin-left: 8px;
}

#collection-container .title .duration div.duration-list {
  display: block;
  position: absolute;
  border-radius: 1rem;
  width: 15rem;
  background-color: var(--primary-color);
  top: 3rem;
  left: 0;
  opacity: 0;
  height: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--primary-color);
  pointer-events: none;
}

#collection-container .title .duration div.duration-list ul {
  list-style: none;
  width: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--primary-color);
}

#collection-container .title .duration div.duration-list ul li {
  font-family: "Jakarta-bold";
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem 1.2rem;
  width: 100%;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.384);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}

#collection-container .title .duration div.duration-list ul li:last-child {
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#collection-container .title .duration div.duration-list ul li:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#collection-container .title .duration div.duration-list ul li:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: rgba(47, 143, 240, 0.05);
}

#collection-container .title .duration div.active {
  opacity: 1;
  height: auto;
  pointer-events: all;
}

#collection-container .data {
  margin-top: 3.5rem;
}

#collection-container .data .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#collection-container .data .container .blockrect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#collection-container .data .container .blockrect .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 44px;
}

#collection-container .data .container .blockrect .column a {
  text-decoration: none;
  color: black;
  margin: 0.5rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#collection-container .data .container .blockrect .column a:last-child {
  border: none;
}

#collection-container .ranking-btn {
  background-color: #0074e8;
  padding: 0.8rem 3.8rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  font-family: "Jakarta-bold";
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s;
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
}

#collection-container .ranking-btn:hover {
  background-color: #0068d1;
}

.browse-category {
  height: 150vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0rem;
}

.browse-category h1 {
  font-family: "Jakarta-bold";
}

.browse-category .cards-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 500px;
  width: 73%;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 3rem;
}

.browse-category .cards-container .card {
  border-radius: 1rem;
  border: 0.5px solid rgba(128, 128, 128, 0.295);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.browse-category .cards-container .card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px;
}

.browse-category .cards-container .card img {
  height: 80%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.browse-category .cards-container .card img:hover {
  width: 99.5%;
  height: 99.5%;
}

.browse-category .cards-container .card p {
  padding: 1rem 0rem 1rem 0rem;
  font-family: "Jakarta-bold";
  font-size: 1.3rem;
  color: var(--tertiary-color);
}

@font-face {
  font-family: "Jakarta-extrabold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-ExtraBold.woff2);
}

@font-face {
  font-family: "Jakarta-bold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-Bold.woff);
}

@font-face {
  font-family: "Jakarta-semibold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-SemiBold.woff2);
}

@font-face {
  font-family: "Jakarta-medium";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-Medium.woff2);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: white;
  --secondary-color: #04111d;
  --tertiary-color: rgb(53, 56, 64);
}

body {
  position: relative;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=main.css.map */