@import "./home";
@import "./notable";
@import "./navbar";
@import "./collection";
@import "./browseCategory";
@import "./video";

// fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Jakarta-extrabold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-ExtraBold.woff2);
}

@font-face {
  font-family: "Jakarta-bold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-Bold.woff);
}
@font-face {
  font-family: "Jakarta-semibold";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-SemiBold.woff2);
}
@font-face {
  font-family: "Jakarta-medium";
  src: url(../media/Fonts/jakarta/PlusJakartaSans-Medium.woff2);
}

// global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: white;
  --secondary-color: #04111d;
  --tertiary-color: rgb(53, 56, 64);
}

body {
  position: relative;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
